<div class="main-new-background">
    <div class="center">
        <div>
            <h5 class="type-new">{{news.type}}</h2>
                <img src="{{news.img}}" alt="{{news.title}}" width="800" height="600" style="border-radius: 50%;">
                <h1>{{news.title}}</h1>
                <br>
                <br>
                <hr class="hr-circle">
                <br>
                <br>
                <div class="desc-cont">
                    <p class="new-p">{{news.description}}</p>
                </div>
                <button></button>
        </div>


    </div>
</div>